.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio__item {
    background: var(--color-bg-varient);
    padding: 1.3rem;
    border: 1px solid transparent;
    border-radius: 2rem;
    transition: var(--transition);
}

.portfolio__item:hover {
    border-color: var(--color-bg-varient);
    background: transparent;
}

.portfolio__item__image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item h3 {
    margin: 1rem 0;
}

.portfolio__item__cta {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* ******************** MEDIA QUERIES (MEDIUM DEVICE) ****************** */
@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.3rem;
    }
}

/* ******************** MEDIA QUERIES (SMALL DEVICE) ****************** */
@media screen and (max-width: 600px) {
   .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
   }
}